*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, pre) {
  margin: 0;
}

html {
  min-height: 100%;
}

:where(button, input, select, textarea) {
  font: inherit;
  letter-spacing: inherit;
}

:where(img, video, canvas, svg) {
  max-width: 100%;
  vertical-align: middle;
}

:where(img, video) {
  height: auto;
}
